{% extends 'base_side.html' %}
{% load static %}
{% block content_side %}

{{customers.update_counter}}

<div id="content-wrapper" style="background-color: #f6f6f6;" class="d-flex justify-content-center">
  <div class="cantrion" style="margin-top: 10%; width: 90%;">
    {{ customers.id }}
    <h1 class="card-title pricing-card-title">{{ customers.c_title }} <small
        class="text-muted">{{ customers.c_input_date }}</small></h1>

    <p>{{ customers.c_body }} <small class="text-muted">{{ customers.c_hit }}</small></p>

    <div class="d-flex justify-content-end">
      <a href="{% url 'customer' %}" class="btn btn-primary">돌아가기</a>
      <a href="{% url 'customer_update' customers.id %}" class="btn btn-primary">수정하기</a>
      <a href="{% url 'customer_delete' customers.id %}" class="btn btn-primary">삭제하기</a>
    </div>
  </div>
</div>
{% endblock %}