{% extends 'base_side.html' %}
{% load static %}
{% block content_side %}
<div id="content-wrapper" style="background-color: #f6f6f6;" class="d-flex justify-content-center">
  <div class="cantrion" style="margin-top: 10%; width: 50%;">
    <h1>customer_create</h1>
    <br>
    <div class="container">
      <form action="">
        <h4>제목: </h4>
        <input type="text" name="title">
        <br>
        <br>
        <h4>본문: </h4>
        <textarea cols=40 rows=10 name="body"></textarea>
        <br>
        <br>
        <input class="btn btn-dark" type="submit" value="글쓰기">
      </form>
    </div>
  </div>
</div>
{% endblock %}