{% extends 'base_side.html' %}
{% load static %}
{% block content_side %}
<div id="content-wrapper" style="background-color: #f6f6f6;" class="d-flex justify-content-center">
  <div class="cantrion" style="margin-top: 10%; width: 50%;">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">TITLE</th>
          <th scope="col">BODY</th>
          <th scope="col">HIT</th>
          <th scope="col">DATE</th>
        </tr>
      </thead>
      <tbody>
        {% for customer in customers.all %}
        <tr>
          <th scope="row">{{ customer.id }}</th>
          <td>{{ customer.c_title }}</td>
          <td>{{ customer.c_body }}</td>
          <td>{{ customer.c_hit }}</td>
          <td>{{ customer.c_input_date }}</td>
        </tr>
        {% endfor %}

      </tbody>
    </table>

    <a href="{% url 'customer_create' %}" class="btn btn-primary">글쓰기</a>

  </div>
</div>
{% endblock %}