{% extends 'base_side.html' %}
{% load static %}
{% block content_side %}
<div id="content-wrapper" style="background-color: #f6f6f6;" class="d-flex justify-content-center">
  <div class="cantrion" style="margin-top: 10%; width: 90%;">
    <h3 class="mb-0">공지사항</h3>
    <div class="mb-1 text-muted">타임캡쳐의 주요사항을 알려드려요.</div>
    <br>
    <table class="table table-hover">
      <thead>
        <colgroup>
          <col style="width: 15%;">
          <col style="width: 40%;">
          <col style="width: 15%;">
          <col style="width: 15%;">
          <col style="width: 15%;">
        </colgroup>
        <tr class="text-center table-dark">
          <th scope="col">번호</th>
          <th scope="col">제목</th>
          <th scope="col">작성자</th>
          <th scope="col">작성날짜</th>
          <th scope="col">조회수</th>
        </tr>
      </thead>
      <tbody>
        {% for notice in notices_posts %}
        <tr class="text-center">
          <th scope="row">{{ notice.id }}</th>
          <td><a href="{% url 'notices_detail' notice.id %}">{{ notice.n_title }}</a></td>
          <td>{{ notice.n_user }}</td>
          <td>{{ notice.n_input_date | date:"Y.m.d h:i" }}</td>
          <td>{{ notice.n_hit }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <br>
    <div class="d-flex justify-content-center">
      {%if notices_posts.has_previous%}
      <a href="?page=1">First&nbsp</a>
      <a href="?page={{notices_posts.previous_page_number}}">Previous</a>
      {%endif%}
      &nbsp
      <span>{{notices_posts.number}}</span>
      <span>&nbsp of &nbsp</span>
      <span>{{notices_posts.paginator.num_pages}}</span>
      &nbsp
      {%if notices_posts.has_next%}
      <a href="?page={{notices_posts.next_page_number}}">Next&nbsp</a>
      <a href="?page={{notices_posts.paginator.num_pages}}">Last</a>
      {%endif%}
    </div>
    <div class="d-flex justify-content-end">
      <a href="{% url 'notices_create' %}" class="btn btn-info">글쓰기</a>
    </div>
  </div>
</div>
{% endblock %}