{% extends 'base_side.html' %}
{% load static %}
{% block content_side %}

<div id="content-wrapper" class="d-flex justify-content-center align-items-center" style="background-color: #f6f6f6;">
  <!-- <div class="chart-container mr-5" style="position: relative; height:30vh; width:25vw">

  </div> -->

  <div class="chart-container" style="position: relative; height:40vh; width:30vw">
    <canvas id="myPieChart"></canvas>
    <br>
    <table class="table">
      <thead>
        <colgroup>
          <col style="width: 50%;">
          <col style="width: 50%;">
        </colgroup>
        <tr class="text-center">
          <th scope="col">목표 시간</th>
          <th scope="col">현재 시간</th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-center">
          <td id="planScore"></td>
          <td id="sumScore"></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

<script>

  var sum = Number("{{sum}}");
  var plan = Number("{{plan}}") * 60;
  var stat = plan-sum;
  
  if (stat < 0) {
    var stat = 0
  } else {
    var stat = plan-sum;
  }

  $("#planScore").text(plan);
  $("#sumScore").text(sum);

  // Pie Chart Example
  var ctx = document.getElementById("myPieChart");
  var myPieChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
      labels: ["모은 시간", "목표 시간"],
      datasets: [{
        data: [stat, plan],
        backgroundColor: ['#1cc88a', '#4e73df'],
        hoverBackgroundColor: ['#17a673', '#2e59d9'],
        hoverBorderColor: "rgba(234, 236, 244, 1)",
      }],
    },
    options: {
      maintainAspectRatio: false,
      tooltips: {
        backgroundColor: "rgb(255,255,255)",
        bodyFontColor: "#858796",
        borderColor: '#dddfeb',
        borderWidth: 1,
        xPadding: 15,
        yPadding: 15,
        displayColors: false,
        caretPadding: 10,
      },
      legend: {
        display: false
      },
      cutoutPercentage: 0,
    },
  });
</script>

{% endblock %}