{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar">
    
<!-- 

    <a class="sidebar-brand d-flex align-items-center justify-content-center" 
    style="
        font-family: SDGtNeobUni-bLt;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.93;
        letter-spacing: normal;
        text-align: left;
        color: #4c4c4c;">
      <div class="sidebar-brand-text mx-3">안녕하세요 :)<br>{{ id }}님</div>
    </a> -->

    <a style="
    font-family: SDGtNeobUni-gEb;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: #3e3a39;">안녕하세요 :)<br>{{ id }}님</a>
    <a style="
  font-family: SDGtNeobUni-bLt;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.93;
  letter-spacing: normal;
  text-align: left;
  color: #a0a0a0;
  letter-spacing: 0.38px;">@{{ id }}</a>


    <!-- <a class="sidebar-brand d-flex align-items-center justify-content-center"
    style="
        font-family: SDGtNeobUni-bLt;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.93;
        letter-spacing: normal;
        text-align: left;
        color: #a0a0a0;">
      @{{ id }}</a> -->


    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <a class="nav-link" href="{% url 'profile_update' %}" style="font-family: SDGtNeobUni-bLt;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.93;
            letter-spacing: normal;
            text-align: left;
            color: #4c4c4c;">
        <span class="d-flex align-items-center justify-content-center">개인정보 수정</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <a class="nav-link" href="#" style="font-family: SDGtNeobUni-bLt;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.93;
            letter-spacing: normal;
            text-align: left;
            color: #4c4c4c;">
        <span class="d-flex align-items-center justify-content-center">공지사항</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <a class="nav-link" href="#" style="font-family: SDGtNeobUni-bLt;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.93;
            letter-spacing: normal;
            text-align: left;
            color: #4c4c4c;">
        <span class="d-flex align-items-center justify-content-center">문의 / 건의하기</span></a>
    </li>

  </ul>
  <!-- End of Sidebar -->

  <div id="content-wrapper" class="d-flex flex-column" style="background-color: #f6f6f6;">
    <div id="content">
      <div class="container-fluid">
        <h3 class="mb-0">{{ sum }}</h3>
        <br>
        <h3 class="mb-0">{{ id }}</h3>
        {% if intro %}
        <p class="card-text mb-auto">{{ intro | linebreaksbr}}</p>
        {% else %}
        {% endif %}
        <br>
      </div>
      <div class="chart-pie pt-4 pb-2">
        <canvas id="myPieChart"></canvas>
      </div>
    </div>
  </div>
</div>

<script>

  var a = "{{sum}}";
  var b = Number(a)

  // Pie Chart Example
  var ctx = document.getElementById("myPieChart");
  var myPieChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
      labels: ["Direct", "Referral", "Social"],
      datasets: [{
        data: [b, 50],
        backgroundColor: ['#4e73df', '#1cc88a', '#36b9cc'],
        hoverBackgroundColor: ['#2e59d9', '#17a673', '#2c9faf'],
        hoverBorderColor: "rgba(234, 236, 244, 1)",
      }],
    },
    options: {
      maintainAspectRatio: false,
      tooltips: {
        backgroundColor: "rgb(255,255,255)",
        bodyFontColor: "#858796",
        borderColor: '#dddfeb',
        borderWidth: 1,
        xPadding: 15,
        yPadding: 15,
        displayColors: false,
        caretPadding: 10,
      },
      legend: {
        display: false
      },
      cutoutPercentage: 80,
    },
  });

</script>

{% endblock %}